# nvim
nvim/.config/nvim/.VimballRecord
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/plugin/packer_compiled.lua
nvim/.config/nvim/spell/*

# zsh
*.zwc
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/local/*
zsh/.config/zsh/plugins/*

# tmux
tmux/.config/tmux/plugins
tmux/.config/tmux/resurrect

# lazygit
lazygit/.config/lazygit/state.yml

# mpv
mpv/.config/mpv/watch_later/*

# encryption
master.key
