# nvim
nvim/.VimballRecord
nvim/.netrwhist
nvim/plugin/packer_compiled.lua
nvim/spell/*

# zsh
*.zwc
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/local/*
zsh/.config/zsh/plugins/*

# lazygit
lazygit/state.yml

# mpv
mpv/.config/mpv/watch_later/*
