[alias]
  branch-name = !git rev-parse --abbrev-ref HEAD
  hidden = !git ls-files -v | grep \"^[a-z]\"
  hide = update-index --assume-unchanged
  ignored = !git status -s --ignored | grep \"^!!\"
  publish = !git push -u origin $(git branch-name)
  unhide = update-index --no-assume-unchanged
  unhide-all = update-index --really-refresh
  unpublish = !git push origin :$(git branch-name)
[filter "media"]
  clean = git media clean %f
  smudge = git media smudge %f
  required = true
[user]
  name = David Marchante
  email = davidmarchan@gmail.com
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
[merge]
  tool = vimdiff
[mergetool]
  prompt = false
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
  keepBackup = false
[diff]
  tool = vimdiff
[push]
  default = simple
[color]
  ui = auto
[pull]
  rebase = true
[credential]
  helper = osxkeychain
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
