.atom/.apm/*
.atom/blob-store/*
.atom/compile-cache/*
.atom/git-time-machine/*
.atom/packages/*
.atom/recovery/*
.atom/storage/*
.vim/.VimballRecord
.vim/.netrwhist
.vim/bundle/*
.vim/sessions/*
mpv/watch_later/*
sublime/User/*/
sublime/User/Package Control.ca-bundle
sublime/User/Package Control.ca-certs/
sublime/User/Package Control.ca-list
sublime/User/Package Control.cache/
sublime/User/Package Control.last-run
sublime/User/Package Control.system-ca-bundle
sublime/User/oscrypto-ca-bundle.crt
