[alias]
  branch-name = !git rev-parse --abbrev-ref HEAD
  files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")
  hidden = !git ls-files -v | grep \"^[a-z]\"
  hide = update-index --assume-unchanged
  hub = !hub
  ignored = !git status -s --ignored | grep \"^!!\"
  publish = !git push -u origin $(git branch-name)
  review = "!f() { $EDITOR ${@:-$(git files)}; }; f"
  stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
  unhide = update-index --no-assume-unchanged
  unhide-all = update-index --really-refresh
  unpublish = !git push origin :$(git branch-name)
[filter "media"]
  clean = git media clean %f
  smudge = git media smudge %f
  required = true
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[user]
  name = David Marchante
  email = davidmarchan@gmail.com
[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
  pager = delta
[interactive]
  diffFilter = delta --color-only
[push]
  default = simple
[pull]
  rebase = true
[merge]
  conflictstyle = diff3
[rebase]
  autosquash = true
[mergetool]
  prompt = false
[mergetool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
  tool = nvimdiff
  colorMoved = default
[difftool]
  prompt = false
  keepBackup = false
[difftool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE
[color]
  ui = auto
[credential]
  helper = osxkeychain
[delta]
  light = false
  navigate = true  # use n and N to move between diff sections
  side-by-side = true
  line-numbers = true
  syntax-theme = base16
