snippet . "selector { }"
	${1} {
		${2:${VISUAL}}
	}${0}
snippet ! "!important"
	 !important
snippet @f
	@font-face {
		font-family: ${1};
		src: url(${2});
	}${0}
snippet @i
	@import url(${1});${0}
snippet @m "@media mediatype { }"
	@media ${1:print} {
		${2:${VISUAL}}
	}${0}
