snippet **
	**${1:bold}**
snippet __
	__${1:bold}__

snippet cbl
	\`\`\`${1}
	${0:${VISUAL}}
	\`\`\`

snippet tb
	|  ${0:factors}      |    ${1:a}       |  ${2:b}   	|
	| ------------- |-------------  | ------- |
	|    ${3:f1}    |    Y          | N       |
	|    ${4:f2}    |    Y          | N       |
