snippet release "Release notes for RubiconMD"
Good morning @here,

Here's a summary of the changes deployed this morning:

- ${1}

Full release log is here: https://docs.google.com/document/d/1qTJjYzfU3EjcjES35fElITiL4QHL-AGuB_brRE9tRWQ/edit#

Cheers, David
endsnippet

snippet card "Card for release notes"
${1:Title} ${3:(https://rubiconmd.atlassian.net/browse/RMD-${2:card_number})}
endsnippet
