snippet release "Release notes for RubiconMD"
Good morning @here,

Here's a summary of the changes deployed this morning:

*Dev*
${1:Nothing today}


*User/Ops*
${2:Nothing today}


Full release log is here: https://docs.google.com/document/d/1qTJjYzfU3EjcjES35fElITiL4QHL-AGuB_brRE9tRWQ

Cheers, David
endsnippet
