# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/customizing-atom#customizing-key-bindings
# * https://atom.io/docs/latest/advanced/keymaps
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson
'.platform-darwin atom-workspace':
  'cmd-t': 'application:new-file'
  'cmd-n': 'advanced-open-file:toggle'

# Vim insert mode mappings
'atom-text-editor.vim-mode-plus.insert-mode':
  'j j': 'vim-mode-plus:activate-normal-mode'
  'shift-enter': 'user:semicolonizeNoNL'
  'cmd-shift-enter': 'user:semicolonize'
  ', M': 'user:arrow'
  ', m': 'user:arrowEOL'
  ', n': 'user:fatarrow'
  '; ;': 'user:semicolonizeNoNL'

# NOT insert mode
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'H': 'vim-mode-plus:move-to-first-character-of-line'
  'L': 'vim-mode-plus:move-to-last-character-of-line'
  'ñ': 'vim-mode-plus:search'
  'Ñ': 'vim-mode-plus:reverse-search'
  'g r': 'vim-mode-plus:reverse'
  'g s': 'vim-mode-plus:sort'
  'ctrl-s': 'vim-mode-plus:transform-string-by-select-list'
  'space enter': 'vim-mode-plus:clear-highlight-search'
  'space h': 'pane:split-down-and-copy-active-item'
  'space v': 'pane:split-right-and-copy-active-item'
  'space -': 'github:toggle-git-tab'
  '-': 'tree-view:toggle-focus'
  'alt-j': 'editor:move-line-down'
  'alt-k': 'editor:move-line-up'
  'g c': 'vim-mode-plus:toggle-line-comments'
  'g l': 'aligner:align'

# Normal mode
'atom-text-editor.vim-mode-plus.normal-mode':
  'ctrl-H': 'paner:very-left'
  'ctrl-J': 'paner:very-bottom'
  'ctrl-K': 'paner:very-top'
  'ctrl-L': 'paner:very-right'
  'ctrl-h': 'focus-pane-or-panel:focus-on-left'
  'ctrl-i': 'cursor-history:next'
  'ctrl-j': 'focus-pane-or-panel:focus-below'
  'ctrl-k': 'focus-pane-or-panel:focus-above'
  'ctrl-l': 'focus-pane-or-panel:focus-on-right'
  'ctrl-o': 'cursor-history:prev'
  'g c c': 'editor:toggle-line-comments'
  'space K': 'tree-view:reveal-active-file'
  'space \'': 'toggle-quotes:toggle'
  'space c': 'pane:close'
  'space g s': 'fuzzy-finder:toggle-git-status-finder'
  'space k': 'tree-view:toggle'
  'space m': 'paner:maximize'
  'space o': 'fuzzy-finder:toggle-file-finder'
  'space space': 'fuzzy-finder:toggle-buffer-finder'
  'space w': 'core:save'
  'space z': 'vim-mode-plus:maximize-pane'
  't': 'symbols-view:go-to-declaration'
  'º': 'core:close'

# Visual mode mappings
'atom-text-editor.vim-mode-plus.visual-mode':
  'x': 'vim-mode-plus:delete'
  'S': 'vim-mode-plus:surround'

# Change autocomplete-plus movements: (Deactivate in settings use core movement commands)
'body atom-text-editor.autocomplete-active':
  'ctrl-n': 'autocomplete-plus:move-down'
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-space': 'autocomplete-plus:cancel'
  'end': 'autocomplete-plus:move-to-bottom'
  'home': 'autocomplete-plus:move-to-top'
  'pagedown': 'autocomplete-plus:page-down'
  'pageup': 'autocomplete-plus:page-up'
  'tab': 'autocomplete-plus:confirm'

# Tree-view navigation
# -------------------------
'.tree-view':
  '-': 'tree-view:collapse-directory'
  'g g': 'core:move-to-top'
  'shift-g': 'core:move-to-bottom'
  'ctrl-h': 'focus-pane-or-panel:focus-on-left'
  'ctrl-l': 'focus-pane-or-panel:focus-on-right'
  'space k': 'tree-view:toggle'
  'space o': 'fuzzy-finder:toggle-file-finder'

'.platform-darwin .find-and-replace atom-text-editor':
  'ctrl-j': 'focus-pane-or-panel:focus-below'
  'ctrl-k': 'focus-pane-or-panel:focus-above'

'.platform-darwin .project-find atom-text-editor':
  'ctrl-j': 'focus-pane-or-panel:focus-below'
  'ctrl-k': 'focus-pane-or-panel:focus-above'

'.project-folder atom-text-editor[mini]':
  'cmd-enter': 'project-folder:replace'
