/* /etc/xdg/swaync/style.css */
:root {
  --noti-bg-focus: rgba(0, 0, 0, 0);
  --cc-bg: rgba(0, 0, 0, 0.7);
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  padding: 16px 0 16px 16px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  -gtk-icon-size: calc(var(--notification-icon-size) / 2);
  border-radius: 0px;
  margin-right: 20px;
}
