/* /etc/xdg/swaync/style.css */
/* GTK_DEBUG=interactive swaync */
:root {
  --cc-bg: rgba(0, 0, 0, 0.7);
  --noti-bg: 2, 2, 2;
  --noti-bg-alpha: 0.8;
  --noti-bg-hover: rgb(20, 20, 20);
  --noti-bg-focus: rgba(0, 0, 0, 0);
  --noti-close-bg: rgb(45, 45, 45);
  --noti-close-bg-hover: rgb(60, 60, 60);
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  padding: 16px 0 16px 16px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  -gtk-icon-size: calc(var(--notification-icon-size) / 2);
  border-radius: 0px;
  margin-right: 20px;
}
