[tui]
notifications = true

[features]
web_search_request = true

[sandbox_workspace_write]
network_access = true

[shell_environment_policy]
ignore_default_excludes = true  # inherit all env variables
