start-at-login = true
accordion-padding = 350
# Mouse follows focus when focused monitor changes
# Drop it from your config, if you don't like this behavior
# See https://nikitabobko.github.io/AeroSpace/guide#on-focus-changed-callbacks
# See https://nikitabobko.github.io/AeroSpace/commands#move-mouse
# on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
on-focused-monitor-changed = []

[exec.env-vars]
PATH = "${HOME}/.dotfiles/bin/:/opt/homebrew/bin:/opt/homebrew/sbin:${PATH}"

# Gaps between windows (inner-*) and between monitor edges (outer-*).
# Possible values:
# - Constant:     gaps.outer.top = 8
# - Per monitor:  gaps.outer.top = [{ monitor.main = 16 }, { monitor."some-pattern" = 32 }, 24]
#                 In this example, 24 is a default value when there is no match.
#                 Monitor pattern is the same as for 'workspace-to-monitor-force-assignment'.
#                 See: https://nikitabobko.github.io/AeroSpace/guide#assign-workspaces-to-monitors
[gaps]
inner.horizontal = 10
inner.vertical = 10
outer.left = 10
outer.bottom = 10
outer.top = 10
outer.right = 10

[workspace-to-monitor-force-assignment]
K = "secondary"  # Non-main monitor in case when there are only two monitors

[mode.main.binding]
# All possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon, backtick,
#                   leftSquareBracket, rightSquareBracket, space, enter, esc, backspace, tab
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right

# All possible modifiers: cmd, alt, ctrl, shift

# All possible commands: https://nikitabobko.github.io/AeroSpace/commands

ctrl-alt-cmd-j = "workspace prev"
ctrl-alt-cmd-k = "workspace next"
ctrl-alt-cmd-shift-j = ["move-node-to-workspace prev", "workspace prev"]
ctrl-alt-cmd-shift-k = ["move-node-to-workspace next", "workspace next"]

ctrl-alt-cmd-1 = "workspace 1"
ctrl-alt-cmd-2 = "workspace 2"
ctrl-alt-cmd-3 = "workspace 3"
ctrl-alt-cmd-4 = "workspace 4"
ctrl-alt-cmd-5 = "workspace 5"
ctrl-alt-cmd-6 = "workspace 6"
ctrl-alt-cmd-7 = "workspace 7"
ctrl-alt-cmd-8 = "workspace 8"
ctrl-alt-cmd-9 = "workspace 9"

ctrl-alt-cmd-shift-1 = ["move-node-to-workspace 1", "workspace 1"]
ctrl-alt-cmd-shift-2 = ["move-node-to-workspace 2", "workspace 2"]
ctrl-alt-cmd-shift-3 = ["move-node-to-workspace 3", "workspace 3"]
ctrl-alt-cmd-shift-4 = ["move-node-to-workspace 4", "workspace 4"]
ctrl-alt-cmd-shift-5 = ["move-node-to-workspace 5", "workspace 5"]
ctrl-alt-cmd-shift-6 = ["move-node-to-workspace 6", "workspace 6"]
ctrl-alt-cmd-shift-7 = ["move-node-to-workspace 7", "workspace 7"]
ctrl-alt-cmd-shift-8 = ["move-node-to-workspace 8", "workspace 8"]
ctrl-alt-cmd-shift-9 = ["move-node-to-workspace 9", "workspace 9"]

ctrl-alt-cmd-space = "mode prefix"
[mode.prefix.binding]
esc = "mode main"
q = ["close-all-windows-but-current", "mode main"]
s = ["exec-and-forget aerospace_secondary", "mode main"]
w = ["exec-and-forget aerospace_swap", "mode main"]
1 = ["exec-and-forget aerospace_move_all_to_workspace 1", "mode main"]
2 = ["exec-and-forget aerospace_move_all_to_workspace 2", "mode main"]
3 = ["exec-and-forget aerospace_move_all_to_workspace 3", "mode main"]
4 = ["exec-and-forget aerospace_move_all_to_workspace 4", "mode main"]
5 = ["exec-and-forget aerospace_move_all_to_workspace 5", "mode main"]
6 = ["exec-and-forget aerospace_move_all_to_workspace 6", "mode main"]
7 = ["exec-and-forget aerospace_move_all_to_workspace 7", "mode main"]
8 = ["exec-and-forget aerospace_move_all_to_workspace 8", "mode main"]
9 = ["exec-and-forget aerospace_move_all_to_workspace 9", "mode main"]

# Floating layout apps
# $ aerospace list-apps
[[on-window-detected]]
if.app-id = "com.apple.finder"
run = "layout floating"

[[on-window-detected]]
if.app-id = "com.apple.mail"
run = "layout floating"

[[on-window-detected]]
if.app-id = "com.1password.1password"
run = "layout floating"

[[on-window-detected]]
if.app-id = "com.apple.Music"
run = "layout floating"

[[on-window-detected]]
if.app-id = "com.apple.MobileSMS"
run = "layout floating"

[[on-window-detected]]
if.app-id = "com.colliderli.iina"
run = "layout floating"

[[on-window-detected]]
if.app-id = "com.cisco.secureclient.gui"
run = "layout floating"

[[on-window-detected]]
# Webex
if.app-id = "Cisco-Systems.Spark"
run = ["layout floating", "move-node-to-workspace 1"]

[[on-window-detected]]
if.app-id = "com.culturedcode.ThingsMac"
run = "layout floating"

[[on-window-detected]]
if.app-id = "com.apple.Home"
run = "layout floating"

[[on-window-detected]]
if.app-id = "com.apple.FaceTime"
run = "layout floating"
