* {
  font-family: "FiraCode Nerd Font Propo";
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  all: unset;
}

.modules-left {
  /* padding: 5px 7px; */
}

.modules-center {
  /* padding: 5px 7px; */
}

.modules-right {
  /* padding: 5px 7px; */
}

tooltip {
  background: #222;
}

#clock:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  transition: all .3s ease;
}

#custom-notification {
  padding: 0px 5px;
  transition: all .3s ease;
}

#clock {
  padding: 0px 5px;
  transition: all .3s ease;
}

#workspaces {
  padding: 5px 5px 5px;
}

#workspaces button {
  all: unset;
  color: #666;
  padding: 0px 5px;
  transition: all .2s ease;
}

#workspaces button:hover {
  color: #fff;
}

#workspaces button.active {
  border: none;
  color: #ddd;
}

#workspaces button.empty {
  border: none;
  color: #666;
}

#workspaces button.empty:hover {
  color: #fff;
  border: none;
}

#workspaces button.empty.active {
  border: none;
  color: #ddd;
}

#bluetooth {
  padding: 0px 5px;
  transition: all .3s ease;
}

#network {
  padding: 0px 5px;
  transition: all .3s ease;
}

#group-expand {
  padding: 0px 5px;
  transition: all .3s ease;
}

#custom-expand {
  padding: 0px 5px;
  transition: all .3s ease;
}

#custom-expand:hover {
  color: #888;
}

#cpu,
#memory,
#temperature {
  padding: 0px 5px;
  transition: all .3s ease;
}

#custom-endpoint {
  color: transparent;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}

#tray {
  border-left: 1px solid #666;
  padding: 0 12px 0 16px;
  transition: all .3s ease;
}

menu {
  /* background: alpha(#222, 0); Doesn't seem to blur with hyprland */
  background: #111;
  border-radius: 15px;
  padding: 0;
}

menuitem {
  color: #eee;
  padding: 10px 0;
}

menuitem:first-child {
  border-radius: 15px 15px 0 0;
}

menuitem:last-child {
  border-radius: 0 0 15px 15px;
}
